title {
    display: none;
  }
  .head{
    font-size:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {  
    text-align: center;  
    padding: 23px;  
    background-color:rgb(1, 41, 113);  
    color: rgb(248, 248, 248);  
} 
body {
    background-color: yellow;
  } 

.floatRight{float:right;margin-left:10px}

.first{
      
    text-align: left;
    color:black;
    font-size: 20px;

}
.second{
      
    text-align: left;
    color:black;
    font-size: 20px;

}
